@import "tailwindcss";

@theme {
  /* Connect Next.js font variable */
  --font-kamerick: var(--font-kamerick);
  
  /* Awwwards Site of the Year Palette */
  --color-void: #010101;
  --color-alabaster: #F5F5F7;
  --color-ultraviolet: #6E00FF;
  --color-neonlime: #CCFF00;
  --color-slate: #4A4A4F;
}

::selection {
  background-color: #CCFF00; /* Neon Lime */
  color: #010101;            /* Void Black */
}

::-moz-selection {
  background-color: #CCFF00;
  color: #010101;
}

/* Global Reset for that "Premium Dark" feel */
body {
  @apply bg-void text-alabaster font-sans antialiased transition-colors duration-1000;
}
@keyframes marquee {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-100%); }
}
.animate-marquee {
  animation: marquee 30s linear infinite;
}
